<body>
    <nav>
        <h1>UP-SIGN</h1>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/login">LOGIN</a></li>
            <li><a href="/users">USERS</a></li>
        </ul>
    </nav>
