<%-include("./partials/head")-%>
<%-include("./partials/nav")-%>
<%let msg%>
    <h1>Welcome to the login page.</h1>
    <h3>If you're not signed-up, what are you waiting for do yourself a solid, click the button below and come join the team. <a class="btns" href="/signup">Sign up</a></h3>
    <form action="/login" method="POST">
        
            <input type="text" placeholder="Enter username or email" name="email" />
        
        
            <input type="text" placeholder="Enter password here" name="password" />
            <button>Sign in</button>
       
    </form>
    <%if(msg){%>
    <%=msg%>
    <%}%>
</body>
</html>